@import "tailwindcss";
body {
    background-color: #0dc1ff;
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden; 
}

/* From Uiverse.io by Navarog21 */ 
button {

  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #0b5e8f;
  outline: none;
  background-color: transparent;
  color: rgb(61, 54, 54);
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 0.5rem;
}

button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #0dc1ff;
  transition: 0.5s;
  transform-origin: center;
}

button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #0dc1ff;
  transition: 0.5s;
}

button:hover::before, button:hover::after {
  transform: scale(0)
}

button:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}
header{
    color:#0dc1ff;
}




